# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.res
.project
.cproject
makefile
objects.mk
sources.mk
subdir.mk
/Debug/
/Release/
*.d
*.o
*.a
*.obj
*.exe
*.lib
*.ilk
*.pch
*.pcb
*.bsc
*.aps
*.APS
*.pdb
*.plg
vc60.*
*.ncb
*.OPT
*.PLG
*.plg
*.opt
*.zip
*.tar
*.gz
*.dll
*.DLL
*.log
*.LOG
*.dhe
*.fts
*.sbr
*.SBR
*.map
*.MAP
*.EXE
*.OBJ
*.LIB
*.sdf
c_fct.h
*.lst
.settings/

*.txt
*.csv
*.xls
*.ods
*.xml
